<<<<<<< HEAD
import React from 'react'
import deptImg from '../Assets/deptImg.png'
import aboutBG from '../Assets/aboutBG.png'
import deptLogo from '../Assets/deptLogo.png'
import '../styles/aboutPG.css'

const About = () => {
  return (
    <div className='parent' style={{ backgroundImage: `url(${aboutBG})` }}>
      <div className='content-wrapper'>
        <div className='img-holder'>
          <img src={deptImg} alt="CSE Dept Logo" />
        </div>
        <div className='logo-holder'>
          <img src={deptLogo} alt="Dept Logo" />
        </div>
        <div className='content'>
          <p>SAIRAM COLLEGE'S CSE DEPARTMENT DELIVERS A FORWARD-THINKING EDUCATION WITH A FOCUS ON PRACTICAL EXPERIENCE AND INDUSTRY CONNECTIONS. THE PROGRAM FEATURES MODERN LABS AND A DIVERSE FACULTY, ENSURING STUDENTS GAIN BOTH THEORETICAL KNOWLEDGE AND HANDS-ON SKILLS.</p>
        </div>
      </div>
    </div>
  )
}

export default About
=======
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.logo-holder {
  margin-right: 20px; /* Adjust space between logo and content as needed */
}

.logo-holder img {
  width: 200px; /* Adjust size as needed */
  height: auto;
}

.content {
  max-width: 1000px; /* Adjust width as needed */
  font-size: 1rem;
  line-height: 1.5;
}
>>>>>>> 762d3c89e20e966b5648bb525ca87b8a9c7c0231
