.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-wrapper {
  text-align: center;
  color: white;
}

.img-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img-holder img {
  width: 150px; /* Adjust size as needed */
  height: auto;
}

.logo-holder {
  position: absolute;
  top: 50%;
  left: 50px; /* Adjust the position as needed */
  transform: translateY(-50%);
}

.logo-holder img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.content {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}
