.button-group {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    max-width: 600px; /* Adjust to desired maximum width */
    margin: 0 auto; /* Centers the button group horizontally */
    width: 100%; /* Ensures it takes up full width within its container up to max-width */
}

.button {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures text does not overflow */
    text-overflow: ellipsis; /* Adds "..." for overflowed text */
}

.button:not(:last-child) {
    border-right: 1px solid #ddd;
}

.button.selected {
    background-color: red;
    color: white;
}

.button:not(.selected) {
    background-color: white;
    color: black;
}
