*{
  margin: 0;
  padding: 0;
  font-family: got, sans-serif;
}

.footer-bg{
  display: flex;
  align-items: center;
  padding: 30px 0px;
  justify-content: space-evenly;
  background-color: black;
}

.clg {
  display: flex;
  padding: 10px;
}
.sai-footer{
  height: 40px;
  margin-right: 10px;
}

.clg-name{
  font-size: 16px;
  display: flex;
  color: #32A3FF;
  align-items: center;
}

.mail {
  display: flex;
  padding: 10px;
}
.mail-logo {
  height: 35px;
  margin-left: 5px;
  margin-right: 10px;
}
.mail-id {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.mail-id span {
  font-family: sans-serif;
  font-size: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

.contact a {
  margin-right: 50px;
}

.contact img {
  width: 25px; 
  height: auto;
}

.co-heading{
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.co-name {
  color: gray;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .footer-bg {
    flex-direction: row;
    align-items: flex-start;
  }

  .clg-det, .coordinators-det, .map-container {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .contact {
    margin-right: 0;
    margin-top: 20px;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .footer-bg {
    flex-direction: column;
    align-items: center;
  }

  .clg,.mail{
    width: 100%;
    display: inline;
    align-items: center ;
  }

  .contact {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .contact a {
    margin: 5px 0;
  }

  .map-container iframe {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .sai-footer, .mail-logo {
    padding: 5%;
    width: 25%;
    display: flex;
    align-items: center;
    }

  .contact img {
    width: 20px; 
  }

  .map-container iframe {
    height: 200px; 
  }
}