*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bg{
    background-image: url(../Assets/naruto_bg1.png);
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
    box-shadow: 0px 100px 250px black inset;
    background-color: transparent;
}
.top{
    display: flex;
    padding-top: 25px;
    padding-left: 20px;
    background-color: transparent;
}
.year{
    font-weight: bold;
    font-size: 35px;
    margin-left: 10px;
    font-family: got;
    color: red;
    text-shadow: 0px 0px 3px red;
    background-color: transparent;
}
.top img{
    background-color: transparent;
    height: 50px;
    filter: drop-shadow(0px 0px 4px red);
}
.heading{
    font-size: 13rem;
    font-family: got;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px 15px black;
    background-color: transparent;
}
/* .navbar{
    display: flex;
    margin-top: 280px;
    justify-content: center;
    background-color: transparent;
}
.navbar ul{
    display: flex;
    justify-content: center;
    background-color: transparent;
    list-style: none;
}
.navbar ul li{
    margin: 0px 100px;
    background-color: transparent;
}
.navbar ul li a{
    font-size: 25px;
    font-family: got;
    background-color: transparent;
    text-decoration: none;
}
.nav1 a{
    color: #FDE46E;
}
.nav2 a{
    color: #E57373;
}
.nav3 a{
    color: #9819AD;
} */
/* .shadow-box{
    box-shadow: 0px 0px 170px 160px black;
    background-color: transparent;
    z-index: 100;
} */
.naruto{
    display: flex;
    background-color: transparent;
    height: 100vh;
    position: absolute;
    left: 50%;
    z-index: 90;
    filter: drop-shadow(0px 0px 20px black);
}
.jap-text{
    background-color: transparent;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.technology{
    background-color: transparent;
    margin-right: 50px;
}
.technology div{
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 40px;
    text-shadow: 0px 0px 15px black;
}
.jap-number{
    background-color: transparent;
    margin-left: 50px;
}
.jap-number div{
    font-size: 25px;
    background-color: transparent;
    text-shadow: 0px 0px 15px black;
}
.register{
    background-color: #FDE46E;
    font-family: got;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: white 2px solid;
    padding: 10px;
}
.register a{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.timer{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    background-color: transparent;
}
.timer p{
    font-size: 30px;
    font-family: got;
    text-shadow: 0px 0px 15px black;
    background-color: transparent;
}
.time{
    font-family: got;
    display: flex;
    margin-right: 5px;
    margin-left: 15px;
    background-color: transparent;
}
.time h1{
    font-size: 40px;
    font-family: got;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 0px 0px 15px black;
    background-color: transparent;
}

.empty{
    height: 80px;
    background-color: transparent;
}
@media (max-width:1190px){
    .heading{
        font-size: 11rem;
    }
    .timer p{
        font-size: 30px;
    }
    .time h1{
        font-size: 35px;
    }
    .technology div{
        font-size: 30px;  
    }
    .jap-number div{
        font-size: 25px;
    }
    .year{
        font-size: 30px;
    }
    .top img{
        height: 40px;
    }
}
@media (max-width:990px){
    .heading{
        font-size: 9rem;
    }
    .timer p{
        font-size: 25px;
    }
    .time h1{
        font-size: 30px;
    }
    .technology div{
        font-size: 25px;  
    }
    .jap-number div{
        font-size: 20px;
    }
    .year{
        font-size: 25px;
    }
    .top img{
        height: 25px;
    }
}
@media (max-width:915px){
    .heading{
        font-size: 7rem;
    }
    .timer p{
        font-size: 20px;
    }
    .time h1{
        font-size: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .technology div{
        font-size: 20px;  
    }
    .jap-number div{
        font-size: 15px;
    }
    .year{
        font-size: 20px;
    }
    .top img{
        height: 20px;
    }
}
@media (max-width:750px){
    .heading{
        font-size: 5rem;
    }
    .timer p{
        font-size: 15px;
    }
    .time h1{
        font-size: 20px;
    }
    .technology div{
        font-size: 15px;  
    }
    .jap-number div{
        font-size: 10px;
    }
    .year{
        font-size: 15px;
    }
    .top img{
        height: 20px;
    }
}
@media (max-width:385px){
    .heading{
        font-size: 4rem;
        margin-bottom: 200px;
        margin-top: 50px;
    }
    .bg{
        background-image: url(../Assets/naruto_bg1_mob.png);
    }
    .timer{
        margin-top: 100px;
        display: block;
        position: relative;
        left: 35%;
    }
    .timer p{
        font-size: 20px;
    }
    .time h1{
        font-size: 25px;
    }
    .register{
        padding: 10px;
    }
    .technology div{
        display: none;
    }
    .jap-number div{
        display: none;
    }
    .year{
        font-size: 15px;
    }
    .top img{
        height: 20px;
    }
    .empty{
        height: 30px;
        background-color: transparent;
    }
}
